<h4>Latest Classes</h4>
<div class="col_3">
    <h4>Javascript</h4>
    <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript
        specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has
        curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.
    </p>
    <a class="button" href="#">View Class</a>
</div>

<div class="col_3">
    <h4>Node.Js</h4>
    <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript
        code outside a web browser.</p>
    <a class="button" href="#">View Class</a>
</div>

<div class="col_3">
    <h4>Express</h4>
    <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and
        open-source software under the MIT License. It is designed for building web applications and APIs.
        It has been called the de facto standard server framework for Node.js.</p>
    <a class="button" href="#">View Class</a>
</div>

<div class="col_3">
    <h4>MongoDB</h4>
    <p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database
        program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB
        Inc. and licensed under the Server Side Public License.</p>
    <a class="button" href="#">View Class</a>
</div>
