<h3>Welcome to E-Learning...</h3>
<p>
	Does text have a place in online courses? If so, how do we overcome the off-putting nature of text
	and the many challenges of reading online? In this article, Mary Burns shares some of the challenges
	associated with text-based content and design and instructional strategies to address such
	challenges.</p>
<a class="button" href="/users/signup">Sign Up Free</a>
<p>You need to signup to register for free classes!</p>
