<!DOCTYPE html>
<html><head>
<title>E-Learning Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />                 
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/kickstart.js"></script>                                 
</head><body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/classes">Classes</a></li>
</ul>

<div class="grid">
	

	 
<div class="col_12">
	<div class="col_9">
	<h3>Welcome to E-Learning...</h3>
	<p>
	Does text have a place in online courses? If so, how do we overcome the off-putting nature of text and the many challenges of reading online? In this article, Mary Burns shares some of the challenges associated with text-based content and design and instructional strategies to address such challenges.</p>

	</div>
	
	<div class="col_3">
	<h5>Student & Instructor Login</h5>
    <form>
	<label>Username</label>
	<input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="submit" class="button submit">
    </form>
	<h5>Share link</h5>
	<i class="fa fa-twitter-square fa-3x"></i> 
	<i class="fa fa-facebook-square fa-3x"></i>
	<i class="fa fa-linkedin-square fa-3x"></i>
	<i class="fa fa-github-square fa-3x"></i>
	
	</div>
	
	<hr />
	
	<div class="col_3">
	<h4>Javascript</h4>
	<p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.</p>
	</div>
	
	<div class="col_3">
	<h4>Node.Js</h4>
	<p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside a web browser.</p>
	</div>
	
	<div class="col_3">
	<h4>Express</h4>
	<p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js.</p>
	</div>
	
	<div class="col_3">
	<h4>MongoDB</h4>
	<p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License.</p>
	</div>
</div>

</div>

<div class="clear"></div>
<div id="footer">
&copy; Copyright 2020 All Rights Reserved. This website was built with <a href="">SBY Technocrates India LLP</a>
</div>

</body></html>